@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        NavigationManager.NavigateTo("/dang-nhap");
                    }
                    else
                    {
                        <p>Bạn không có quyền truy cập trang này.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>Đang kiểm tra xác thực...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Không tìm thấy trang.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> context { get; set; }
}
